@import url(//fonts.googleapis.com/css?family=Roboto);
body {
  font-family: Roboto;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(24, 24, 27);
  line-height: 1.5;
  margin: 0;
}

ez-header, .site-footer {
  display: block;
  margin: 0 auto;
  max-width: 960px;
}

main {
  display: flow-root;
  margin: 0 auto;
  max-width: 960px;
  padding: 1rem;
}

.ez-component.right {
  margin-left: 1rem;
}

ul {
  list-style-position: inside;
}

.section-1 {
  display: flow-root;
}